@import "tailwindcss";

@theme {
  --color-main-blue: #3485fa;
  --color-main-red: #f04251;
  --color-main-light-gray: #e9e9e9;
  --color-main-dark-gray: #666;
  --color-keyword: #91b2ce;
  --color-sub: rgba(0, 19, 43, 0.58);
  /* --shadow-color: 0 2px 8px rgb(0 0 0 / 0.12); */
  --shadow-color: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px,
    rgba(15, 15, 15, 0.1) 0px 2px 4px;
  --container-main-max: 1280px;
  --container-main-min: 940px;
  --spacing-main: 10px;
  --radius-main: 10px;
}

@layer utilities {
  @keyframes bounce-x {
    0%,
    100% {
      transform: translateX(0%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateX(25%);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }
  .animate-bounce-x {
    animation: bounce-x 1s infinite;
  }

  @keyframes slideIn {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .slide-in {
    animation: slideIn 0.5s ease-out;
  }
}

:root {
  --background: #ffffff;
  --background-from: #3485fa;
  --background-to: #e0f7fa;
  --foreground: #171717;

  --color-main-blue: #3485fa;
  --color-main-red: #f04251;
  --color-main-light-gray: #e9e9e9;
  --color-main-dark-gray: #666;
  --color-keyword: #91b2ce;
  --color-sub: rgba(0, 19, 43, 0.58);
  /* --shadow-color: 0 2px 8px rgb(0 0 0 / 0.12); */
  --shadow-color: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px,
    rgba(15, 15, 15, 0.1) 0px 2px 4px;
  --container-main-max: 1280px;
  --container-main-min: 940px;
  --spacing-main: 10px;
  --radius-main: 10px;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  /* background: var(--background); */
  background: linear-gradient(
    28deg,
    var(--background-from),
    var(--background-to)
  );

  min-height: 100vh;

  overscroll-behavior: none;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* 크롬, 엣지, 사파리 */
::-webkit-scrollbar {
  display: none;
}

/* 파이어폭스 */
* {
  scrollbar-width: none;
}

/* IE, Edge 구버전 */
* {
  -ms-overflow-style: none;
}

* {
  cursor: url("/cursor/default.png") 2 2, auto;
}

button,
a {
  cursor: url("/cursor/pointer.png") 2 2, pointer !important;
}

/* input:hover,
textarea:hover {
  cursor: url("/cursor/text.png") 2 2, auto;
} */
